body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #fff;
}

#header {
  width: 100%;
  background: url('../images/header_slice.png') #fff repeat-x;
  height: 65px;
}

#logo {
  padding-top: 12px;
}

#nav {
  width: 100%;
  height: 27px;
  background: #ccc repeat-x;
}

#nav ul li {
  float: left;
  height: 27px;
}


#nav a:link, a:visited {
  color: #333;
  font-size: 15px;
  text-shadow: 0px 1px #ededed;
  text-decoration: none;
  display: block;
  height: 21px;
  padding: 6px 15px 0px 15px;
}

#nav a:hover {
  color: #fff;
  text-shadow: 0px 1px #d65158;
  text-decoration: none;
  background-color: #a73300;
  height: 21px;
  padding: 6px 15px 0px 15px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#main {
  padding-top: 40px;
}

/* left column */

#filter {
  width: 150px;
  padding-right: 10px;
  float: left;
}

#filter h2 {
  color: #808080;
  font-size: 18px;
  font-weight: bold;  
}

#filter ul {
  padding: 5px 0px;
  margin: 0;
}

#filter li {
  font-weight: regular;
  color: #808080;
  font-size: 14px;
  padding: 5px 0px;
}

/* middle column */

#feed {
  width: 460px;
  padding: 0px 10px;
  float: left;
  border-left: 1px solid #ccc;
}

#feed h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #a73300; 
  width: 100%;
}


#widgets {
  width: 310px;
  padding-left: 10px;
  float: left;
}


