/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
#container
{
  width: 960px;
  margin: 20px auto;
  background-color: #fff;
}

#headline
{
  float: left;
  width: 540px;
}

#headlinePicture
{
  float: right;
  width: 400px;
  padding-left:20px;
}

#headline h1
{
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  letter-spacing:-2px;
  margin: 20px 0;
  text-shadow: #aaa 1px 1px 2px;
}

#headline h2
{
  font-size: 24px;
  font-weight: 100;
  letter-spacing:-1px;
  line-height: 36px;
  margin: 20px 0;
  text-shadow: #aaa 1px 1px 2px;
}

#headline p
{
  letter-spacing: -1px;
  line-height: 24px;
  text-shadow: #aaa 1px 1px 2px;
}

#facebookConnect
{
  margin: 20px auto;
  float: right;
}

#dialog
{
  background-color:white;
  color:#333;
  margin:20px;
}

header
{
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 60px;
}

#logo h1
{
  font-weight:900;
  font-size: 36px;
  float: left;
  margin-top: -10px;
  margin-right: 20px;
  padding-bottom: 20px;
  text-shadow: #999 1px 1px 2px;
}

#logoheadline
{
  background-color: #a73300;
  font-style: italic;
  text-shadow: #672000 1px 1px 2px;
  padding: 10px;
}

#login ul 
{
  margin: 0 auto;
}

#login ul li
{
  float: right;
  margin-left: 10px;
}

#login a
{
  color: #0070cc;
}

#logo
{
  display: inline;
  padding: 20px 0 0;
  float: left;
  width: 50%;
}

#login
{
  float: right;
  width: 50%;
  padding-top: 20px;
}

#primary-content ul li
{
  float: left;
  padding: 20px 0;
  border-bottom: 1px solid #808080;
}

nav
{
  text-align: left;
  border-top: 2px solid #a6a6a6;
  width: 100%;
  background-color: #eaeaea;
  height: 60px;
}

nav ul
{
  padding-left: 20px;
  margin: 0 auto;
}

nav ul li
{
  float: left;
  padding: 20px;
  color: #333;
  font-size: 14px;
  text-shadow: #999 1px 1px 2px;
}

#primary-content
{
  width: 50%;
  position: relative;
  overflow: hidden;
}

#primary-content-header
{
  border-bottom: 2px solid #a73300;
  padding: 20px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 900;
}

.image-left
{
  float: left;
  margin-right: 20px;
  width: 50px;
}

.text-right
{
  float: right;
  width: 410px;
}

.feed-title
{
  font-size: 24px;
  font-weight: 100;
  line-height: 36px;
  text-shadow: #a6a6a6 1px 1px 2px;
}

.feed-body
{
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
}
