body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #fff;
}

#header {
  width: 100%;
  background: url('../images/header_slice.png') #fff repeat-x;
  height: 65px;
}

#logo {
  padding-top: 12px;
}

#nav {
  width: 100%;
  height: 27px;
  background: #ccc repeat-x;
}

#nav ul li {
  float: left;
  height: 27px;
}


#nav a:link, #nav a:visited {
  color: #333;
  font-size: 15px;
  text-shadow: 0px 1px #ededed;
  text-decoration: none;
  display: block;
  height: 21px;
  padding: 6px 15px 0px 15px;
}

#nav a:hover {
  color: #fff;
  text-shadow: 0px 1px #d65158;
  text-decoration: none;
  background-color: #a73300;
  height: 21px;
  padding: 6px 15px 0px 15px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#main {
  padding-top: 40px;
}

/* left column */

#filter {
  width: 140px;
  padding-right: 10px;
  float: left;
}

#filter h2 {
  color: #808080;
  font-size: 18px;
  font-weight: bold;  
}

#filter ul {
  padding: 5px 0px;
  margin: 0;
}

#filter li {
  font-weight: regular;
  color: #808080;
  font-size: 14px;
  padding: 5px 0px;
}

/* middle column */

#feed {
  width: 459px;
  padding: 0px 10px 0px 20px;
  float: left;
  border-left: 1px solid #ccc;
}

#feed h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #a73300; 
  width: 100%;
}

#feed li .image-left {
  margin: 10px 0px;
  padding-left: 2px;
  padding-top: 2px;
  width: 66px;
  height: 66px;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
  border: 1px solid #eee;
  -moz-box-shadow: 0px 0px 3px #000, 2px 2px 3px #000;
  -webkit-box-shadow: 0px 0px 3px #000, 2px 2px 3px #000; 
  box-shadow: 0px 0px 3px #000, 2px 2px 3px #000;
  float: left;
}

#feed li h3 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

#feed li h3 a {
  text-decoration: none;
}

#feed li h3 a:visited {
  text-decoration: none;
  color: #000;
}

#feed li h3 a:hover {
  color: #a73300;
  text-decoration: underline;
  background-color: transparent;
}

#feed li .text-right {
  padding-top: 10px;
  margin-left: 84px;
}

#feed li {
  clear: both;
  border-top: 1px solid #808080;
}

#feed li:first-child {
  border: none;
}

#feed li .text-right .message {
  font-size: 10px;
  padding: 5px 0px;
  font-weight: regular;
}

#feed li .text-right .timestamp {
  font-size: 10px;
  padding: 5px 0px;
  font-weight: regular;
  color: #808080;
}

/*right column */

#widgets {
  width: 310px;
  padding-left: 10px;
  float: left;
}



