# m h  dom mon dow   command
MAILTO="mark.chang@gmail.com"
20 0,4,8,12,16,20 * * * /bin/bash -l -c 'cd /var/www/urbaniteboston.com/daemon ; RAILS_ENV=production ruby daemon.rb crawl_pages crawl_posts process_events'
