<%@pages.each do |page| %>
  <div style='width:310px;border-top:2px solid black;margin-top:6px;padding-top:6px'>
    <div style='font-weight:bold;padding-bottom:4px'>
      <%= image_tag page.profile_picture_url %>
    </div>
    <div>
      <%= link_to page.name, page.link, :alt => page.name, :target => 'blank' %>
    </div>
    <br>
    <div style='clear:left'></div>
  </div>
<% end %>
