<h2>Recommended Pages</h2>
<br>
<div classid='feed'>
<%@pages.each do |page| %>
<%if page.link%>
<div style='float:left;padding-right:4px'>
      <%= image_tag page.profile_picture_url %>
</div>
      <%= link_to page.name, page.link, :alt => page.name, :target => 'blank' %>
<div style='clear:left'></div>
<% end %>
<% end %>
</div>
