<header>
  <div id="logo">
    <h1><span style="font-weight:100;">urbanite</span> boston</h1>
    <span id="logoheadline">Explore your space.</span>
  </div>
  <div id="login">
    <ul>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </div>
</header>
<nav>
  <ul>
    <li>Home</li>
    <li>Art</li>
    <li>Theater</li>
    <li>Music</li>
    <li>Movies</li>
    <li>History</li>
    <li>Educational</li>
  </ul>
</nav>
<div id="container">
  <div id="primary-content">
    <div id="primary-content-header">
      All news
    </div>
    <ul>
      <li>
        <div class="image-left">
          <%= image_tag '100thumb.png', :width => 50, :height => 50 %>
        </div>
        <div class="text-right">
          <span class="feed-title">The title of this cool thing</span>
          <div class="feed-body">
            I am curated for maximum awesomeness. Lorem ipsum is the name of the game, but I need to write enough information so that it looks like a substantial post...
          </div>
        </div>
      </li>
      <li>
        <div class="image-left">
          <%= image_tag '100thumb.png', :width => 50, :height => 50 %>
        </div>
        <div class="text-right">
          <span class="feed-title">The title of this cool thing</span>
          <div class="feed-body">
            I am curated for maximum awesomeness. Lorem ipsum is the name of the game, but I need to write enough information so that it looks like a substantial post...
          </div>
        </div>
      </li>
      <li>
        <div class="image-left">
          <%= image_tag '100thumb.png', :width => 50, :height => 50 %>
        </div>
        <div class="text-right">
          <span class="feed-title">The title of this cool thing</span>
          <div class="feed-body">
            I am curated for maximum awesomeness. Lorem ipsum is the name of the game, but I need to write enough information so that it looks like a substantial post...
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
