


    <u
      <li>
        <div class="image-left">
          <%= image_tag '100thumb.png', :width => 50, :height => 50 %>
        </div>
        <div class="text-right">
          <span class="feed-title">The title of this cool thing</span>
          <div class="feed-body">
            I am curated for maximum awesomeness. Lorem ipsum is the name of the game, but I need to write enough information so that it looks like a substantial post...
          </div>
        </div>
      </li>
      <li>
        <div class="image-left">
          <%= image_tag '100thumb.png', :width => 50, :height => 50 %>
        </div>
        <div class="text-right">
          <span class="feed-title">The title of this cool thing</span>
          <div class="feed-body">
            I am curated for maximum awesomeness. Lorem ipsum is the name of the game, but I need to write enough information so that it looks like a substantial post...
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
