<div id="container">
  <div id="dialog" style="display:none;">
    <p>I'M LOGGING INTO FACEBOOK LOL!</p>
  </div>
  <div id="headline">
    <h1>Dig.in Boston</h1>
    <h2>Discover arts, entertainment and culture through the things you like on Facebook.</h2>
    <p>Dig.in Boston shows you artists, venues, theaters, groups and associations that are similar to the Facebook pages you like on Facebook.</p>
  </div>
  <div id="headlinePicture">
    <%= image_tag "narwhal.jpg", :height => 267, :width => 400, :style => 'margin-top:20px;' %>
    <div id="facebookConnect">
      <a href="#" onclick="openFbDialog();return false;">
        <%= image_tag "fbconnect.png" %>
      </a>
    </div>
  </div>
</div>

